.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: hotpink
}

.screamingPic {
  max-height: 200px;
  max-width: 200px;
  align-self: center;
  margin-bottom: 10px;
}
